<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomasure</title>
</head>
<body>
    <h1>Tomasure API by Kugaba Inc.</h1>
    <p>Welcome to the Tomasure API, a database of meals for use with meal and calorie tracking apps!</p>
    <p>Our database features over 3,000 meals and foods from all over the world, sourced in an organic and environmentally friendly manner!</p>
    <p>You can access the database with the following endpoints:</p>
    <p>"/" will take you to ...</p>
    <p>"/user" will take you to the user details database</p>
    <p>"/meals" is the big one, it will take you to our fully-detailed database of prepared meals and raw foodstuffs from all over the world</p>
    <p>And stay tuned, we will add many more in the future. Sign up to our newsletter to stay up to date!</p>
</body>
</html>